@charset "UTF-8";

.jumbotron {
	margin-bottom: 0px;
    text-align: center;
}

.page-header {
	border-bottom: 0px;
}

.list-group {
	margin-bottom: 0px;
}

.document{
	font-size: 18px;
	color: black;
        font-family: "Comic Sans MS", cursive, sans-serif;
	background-color: #D3D3D3;
}

.navbar-custom {
	border-color: #17202A;
    background-color: #34495E;
  	border-radius:10px;
}
  
.navbar-custom .navbar-nav > li > a {
  	color:#ffffff;
}


.navbar-toggle .icon-bar {
    background-color: #233042;
}
      
.navbar-custom .navbar-brand {
  	color:#BDC3C7;
        float:left;
}
.navbar-custom .navbar-toggle {
  	background-color:#D5DBDB;
}

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
        color: #FDFEFE;
	background-color:#71777c;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color: #c0c0c0;
}

.dropdown-menu>li>a {
	color: #ffffff;
}
      
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #566573;
}

nav.sidenav{
	width: 20%;
	border: 1px solid black;
	border-radius: 20px;
	text-align: center;
	background-color: white;
	padding: 2px;
}

.caption{
	text-align: center;
	
}

.container-fluid{
        text-align: center;
}

.mainmain{
    margin: auto;
    width: 100%;
    padding: 10px;
}

.hidden-xs{
	text-align: center;
}

.header{
	text-align: center;
}

.logo{
    display: inline-block;
}

.headerText{
    display: inline-block;
}
img.img-responsive{
    position: relative;
    display: inline-block;
    float: center;
    
}

a.list-group-item-myHome, button.list-group-item-myHome {
    color: #003366;
}

.list-group-item-myHome {
    color: #003366;
    background-color: #CCCCFF;
}

a.list-group-item-myHome:focus, a.list-group-item-myHome:hover, button.list-group-item-myHome:focus, button.list-group-item-myHome:hover {
    color: #2d5e2e;
    background-color: #b6b6ed;
}

a.list-group-item-Vanilla, button.list-group-item-Vanilla {
    color: #B87333;
}

.list-group-item-Vanilla {
    color: #B87333;
    background-color: #ffffc6;
}

a.list-group-item-Vanilla:focus, a.list-group-item-Vanilla:hover, button.list-group-item-Vanilla:focus, button.list-group-item-Vanilla:hover {
    color: #995f29;
    background-color: #eaea9f;
}

a.list-group-item-Pumpkin, button.list-group-item-Punpkin {
    color: #FF9900;
}

.list-group-item-Pumpkin {
    color: #FF9900;
    background-color: #f9d5b1;
}

a.list-group-item-Pumpkin:focus, a.list-group-item-Pumpkin:hover, button.list-group-item-Pumpkin:focus, button.list-group-item-Pumpkin:hover {
    color: #663403;
    background-color: #fcc288;
}

a.list-group-item-Kale, button.list-group-item-Kale {
    color: 	#127436;
}

.list-group-item-Kale {
    color: 	#127436;
    background-color: #b4f7b4;
}

a.list-group-item-Kale:focus, a.list-group-item-Kale:hover, button.list-group-item-Kale:focus, button.list-group-item-Kale:hover {
    color: #127436;
    background-color: #82d882;
}

a.list-group-item-Tomato, button.list-group-item-Tomato {
    color: #E60000;
}

.list-group-item-Tomato {
    color: #E60000;
    background-color: #FFE4E1;
}

a.list-group-item-Tomato:focus, a.list-group-item-Tomato:hover, button.list-group-item-Tomato:focus, button.list-group-item-Tomato:hover {
    color: #a50101;
    background-color: #fccfc9;
}

.row p{
    text-align: center;
}

p{
	text-align: left;
}

.footer{
	text-align: center;
}

.container {
    margin-bottom: 0px;
        text-align: center;
}

.login {
    margin-bottom: 0px;
        text-align: center;
}
         
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    color: #017572;
}

